/*
File:style.scss
Author: Kailash Sudhakar
DateCreated: 21.02.2018
Last Modified: 21.02.2018
Purpose: Sass source file with all the styles required for the todo app
*/

/*variables for the common style values*/

$brand_blue: #16314D;
$primary_orange: #F57F3E;
$primary_black: #6F7C8B;
$text_black: #000;
$text_grey: #888;
$text_white: #fff;



/*responsive mixins*/

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: 992px) {
    @content;
  }
}


@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin sm-mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$sm-mobile-width}) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400');


/*main-styling starts*/

html{
  font-size: 14px;
}

body{
  font-family: 'font-family: 'Roboto Condensed', sans-serif;';
  color: $text_black;
  background:#F4F8F9;
  font-weight:300;
}

.main_container
{
 background: url('../img/todo_bg.jpg');
 height:100vh;
 overflow:hidden;
 width:100%;
 float:left;
 .content_wrapper
 {
   width:50%;
   margin:0px auto;
   padding:40px;
 }
} /*main_container*/

.title_container
{
  color:$text_white;
  .title
  {
    font-size:60px;
    width:100%;
    font-weight: 300;
  }
  .pending_items
  {
    font-size:14px;
    width:100%;
  }
}/*title_container*/

.todo_box
{
  position:relative;
  background:$text_white;
  border-radius:3px;
  padding:15px;
  min-height:500px;
  overflow:hidden;
  width:100%;
  float:left;
  .new_item_input
  {
    padding-bottom: 5px;
    #new_item
    {
      font-style: italic;
      font-weight: lighter;
      color: #555;
      font-size: 22px;
    }
    #new_item:focus
    {
      font-style:none;
      color: $text_grey;
    }
  }
}/*todo_box*/


.items_list
{
  .todo_list
  {
    list-style: none;
    line-height: 2;
    padding-left: 0px;
    .todo_item
    {
      border-bottom: 1px solid #dddddd;
      font-size: 22px;
      color: $text_grey;
      .todo_name
      {
	padding-left: 10px;
      }
      .true
      {
        text-decoration: line-through;
      }
      .false
      {
        text-decoration: none;
      }
      .todo_checkbox
      {
	position:relative;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border: 1px solid #ddd;
	vertical-align: middle;
      }

      .todo_checkbox:checked
      {
	border:none;
      }
      .todo_checkbox:checked:after
      {
	content: url('../img/tick.svg');
	position: absolute;
	top: 0px;
       }
       .delete
       {
	 border:0;
	 margin:0;
	 outline:none;
	 padding:0px;
	 -webkit-appearance: none;
	 -moz-appearance:none;
	 appearance:none;
	 background: none;
	 float: right;
	 color: rgb(255, 163, 90);
       }
       .delete:after
       {
	 content:'X';
       }

    } /*todo_item*/
  } /*todo_list*/
} /*items_list*/
.filters_bottom
{
  position:absolute;
  bottom:0px;
  padding-bottom:20px;
  color:$text_grey;
  div
  {
    display:inline-block;
    padding-right:15px;
  }
} /*filters_bottom*/
